{% extends './layout.html' %}
{% block title %}Eventos{% endblock %}

{% block body %}

<div class="contenedor">
    <h1 class="text-3xl text-center font-bold m-2">Calculadora de Estadística</h1>
    <div class="">
        <h4 class="text-2xl font-bold mb-2">Estadistica descriptiva</h4>
        <form action="/procesar_datos" class="" method="POST">
            <div class="flex flex-wrap -mx-3 mb-6 bg-gray-200 border-2 p-3">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block tracking-wide  text-lg font-bold mb-2" for="grid-first-name">
                        ¿Los datos son discretos o continuos?
                    </label>
                    <div>
                        <input  
                        class="bg-gray-200 hover:bg-gray-300 cursor-pointer 
                        w-5 h-5 border-3 border-amber-500 focus:outline-none rounded-lg" 
                        id="discreto"
                        name="discreto"
                        required 
                        type="checkbox">
                        <label for="discreto" class="">Discretos</label>
                    </div>
                    <div>
                        <input  
                        class="bg-gray-200 hover:bg-gray-300 cursor-pointer 
                        w-5 h-5 border-3 border-amber-500 focus:outline-none rounded-lg" 
                        id="continuo" 
                        name="continuo"
                        required
                        type="checkbox">
                        <label for="continuo" class="w-full">Continuos</label>
                    </div>
                    <div>
                    <label class="mt-3 block tracking-wide  text-lg font-bold mb-2" for="grid-last-name">
                        Ingrese los datos:
                    </label>
                    <input class="appearance-none block w-full bg-white text-gray-900 border border-gray-400 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
                    id="datos" type="text" 
                    name="datos"
                    placeholder="Ejemplo: 1,2,3,4,5,6,...">
                    <p class="mt-2 mb-2">Cuando termine de ingresar los datos haga click en el botón <span class="font-bold">Calcular</span></p>
                    <button class="bg-blue-900 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                    type="submit">
                    Calcular
                    </button>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>

{% endblock %}