{% extends './layout.html' %}
{% block title %}Estadistica{% endblock %}

{% block body %}
<div class="bg-slate-300">
    <div class="p-3 md:pl-48 pt-7 pb-20 md:pr-48 md:pb-60 md:mb-4">
        <div class="contenedor bg-slate-300 m-0 p-0 pl-10 md:pl-0">
            <div class="contenedor-form mb-6 bg-slate-800 rounded-2xl border-collapse p-3">
                <div class="w-auto px-3 mb-6 md:mb-0">
                <h3 class="text-2xl font-bold mb-2 font-serif text-white text-center">Estadistica descriptiva</h3>
                <h4 class="text-xl font-bold mb-2 font-serif text-white">Creadores del sitio web</h4>
                    <p class="text-justify text-white">
                        <ul>
                            <li>
                                <a class="text-white" href="https://github.com/mfcaicedo" target="_blank">Milthon Ferney Caicedo Jurado</a>
                            </li>
                            <li>
                                <a class="text-white" href="https://github.com/yazmin2305" target="_blank">Yazmin Viviana Gutierrez</a>
                            </li>
                            <li>
                                <a class="text-white" href="https://github.com/luciac1103" target="_blank">Erika Lucia Camacho</a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}