/* html{
    font-size:  62.5%; /*para que 1px sea 1rem
    box-sizing: border-box;
    color-scheme: light; /*Fuente dark o light
}
*, *:before, *:after {
    box-sizing: inherit;
} */
body{
    margin: 0;
}
.contenedor{
    width: 92%;
    max-width: 120rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
    /* font-size: 2rem; */
}

/* h1,h2,h3{
    margin: 2.5rem 0;
    font-weight: 300;
    text-align: center;
} */
/* h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4.4rem;
}
h3 {
    font-size: 4rem;
}
h4 {
    font-size: 3.6rem;
}
p{
    font-size: 1.5rem;
} */
/**
NAVEGACIÓN 
*/
header{
    background-color: #3666A7;
    padding: 2rem;
    -webkit-box-shadow: 11px 7px 33px -9px rgba(0,0,0,0.7);
    -moz-box-shadow: 11px 7px 33px -9px rgba(0,0,0,0.7);
    box-shadow: 11px 7px 33px -9px rgba(0,0,0,0.7);

}
.contenedor-form{
    -webkit-box-shadow: 11px 11px 9px 3px rgba(171, 165, 185, 0.74);
    -moz-box-shadow: 11px 11px 9px 3px rgba(171, 165, 185, 0.74);
    box-shadow: 11px 11px 9px 3px rgba(171, 165, 185, 0.74);
}
.contenido-header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 1rem;
    padding: .5rem;

    -webkit-box-shadow: 11px 7px 33px -9px rgba(0,0,0,0.7);
    -moz-box-shadow: 11px 7px 33px -9px rgba(0,0,0,0.7);
    box-shadow: 11px 7px 33px -9px rgba(0,0,0,0.7);
}
.contenido-header a{
    padding: .5rem;
    color: #ffffff;;
}
.contenido-header .navegacion a:hover{
    background-color: #194b92;
}