
body{
    margin: 0;
}
.contenedor{
    width: 92%;
    max-width: 120rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

/**
NAVEGACIÓN 
*/
header{
    background-color: #3666A7;
    padding: 2rem;
    -webkit-box-shadow: 11px 7px 33px -9px rgba(0,0,0,0.7);
    -moz-box-shadow: 11px 7px 33px -9px rgba(0,0,0,0.7);
    box-shadow: 11px 7px 33px -9px rgba(0,0,0,0.7);

}
.contenedor-form{
    -webkit-box-shadow: 11px 11px 9px 3px rgba(171, 165, 185, 0.74);
    -moz-box-shadow: 11px 11px 9px 3px rgba(171, 165, 185, 0.74);
    box-shadow: 11px 11px 9px 3px rgba(171, 165, 185, 0.74);
}
.contenido-header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 1rem;
    padding: .5rem;

    -webkit-box-shadow: 11px 7px 33px -9px rgba(0,0,0,0.7);
    -moz-box-shadow: 11px 7px 33px -9px rgba(0,0,0,0.7);
    box-shadow: 11px 7px 33px -9px rgba(0,0,0,0.7);
}
.contenido-header a{
    padding: .5rem;
    color: #ffffff;;
}
.contenido-header .navegacion a:hover{
    background-color: #194b92;
}